<h3>Home</h3>
<!--INDICA COMO MOSTRAR LAS VARIABLES-->
<p>Nombre: {{ nombre }}</p>

<!--MODIFICA LA VARIABLE | -->
<p>{{nombre | uppercase}}</p>

<!--OPERACIONES | -->
<p>Nota: {{ nota }}</p>
<p>Nota + 100: {{ nota+100 }}</p>

<!--OPERACIONES | -->
<br> <br>
<!-- input PARA CAMBIAR EL VALOR DE LA PROPIEDAD NOMBRE | -->
<input type="text" class="form-control" placeholder="Escribe tu nombre" [(ngModel)]="nombre"/>

<br> <br>
<!-- input PARA mandar a  llamar al metodo cambiarValores | -->
<button type="button" class="btn btn-primary" (click)="cambiarValores()">Cambiar Valores</button>

<br>
<!-- EJEMPLOS DE CONDICIONALES -->
<p *ngIf="encendido">Encendido</p>
<p *ngIf="10 > 5">Verdadero</p>

<!-- CICLOS -->
<ul class="list-group">
    <li class="list-group-item" *ngFor="let persona of personas">
        {{ persona }}
    </li>
</ul>



